.dataGrid {
  /* Base styles for the grid */
  border: none;
}

.dataGrid :global(.MuiDataGrid-columnHeaders) {
  background-color: rgba(0, 0, 0, 0.04);
  font-weight: bold;
}

.dataGrid :global(.MuiDataGrid-columnHeaderTitle) {
  font-weight: 800;
}

.dataGrid :global(.MuiDataGrid-columnHeader) {
  font-weight: bold;
}

.dataGrid :global(.MuiDataGrid-cell:focus) {
  outline: none;
}

.dataGrid :global(.MuiDataGrid-row:hover) {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}

.dataGrid :global(.MuiDataGrid-cell) {
  display: flex;
  align-items: center;
}

.sourceTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sourceIcon {
  width: 32px;
  height: 32px;
  font-size: 1rem;
}

.sourceContent {
  display: flex;
  flex-direction: column;
}

.sourceDescription {
  color: var(--mui-palette-text-secondary);
  font-size: 0.875rem;
}

.chipContainer {
  display: flex;
  gap: 4px;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.fileTypeChip {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.tagChip {
  font-size: 0.75rem;
  height: 24px;
}

.overflowChip {
  font-size: 0.75rem;
  height: 24px;
}

.errorContainer {
  padding: 24px;
}
