# Environment and cache files
**/.env
**/.env.*
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.pytest_cache/
**/.coverage
**/.mypy_cache/
**/.ruff_cache/
**/.venv/

# Version control
**/.git/
**/.gitignore
**/.gitattributes

# Build artifacts and documentation
**/dist/
**/build/
**/*.egg-info/
**/docs/
**/htmlcov/

# Development files
**/.vscode/
**/.idea/
**/*.log
**/*.swp
**/*.swo
**/node_modules/

# Project specific
**/tests/
**/.github/
# Ignore all markdown files
**/*.md
# Except README.md files, which are needed for building the Python packages
!**/README.md
# Ignore README.md files in .venv directories. It case creation of the .venv directory, which prevent
# creation of the new environment by uv
**/.venv/**/README.md