#####################################################################################
# Database Configuration
#####################################################################################

# PostgreSQL Database Settings
POSTGRES_DB=rhesis-db
POSTGRES_USER=rhesis-user
POSTGRES_PASSWORD=rhesis-password
POSTGRES_PORT=5432

# SQLAlchemy Database Configuration
SQLALCHEMY_DB_DRIVER=postgresql
SQLALCHEMY_DB_USER=rhesis-user
SQLALCHEMY_DB_PASS=rhesis-password
SQLALCHEMY_DB_HOST=postgres
SQLALCHEMY_DB_NAME=rhesis-db
SQLALCHEMY_DB_PORT =5432
SQLALCHEMY_DATABASE_URL=postgresql://rhesis-user:rhesis-password@postgres:5432/rhesis-db

#####################################################################################
# Auth0 Configuration
#####################################################################################

AUTH0_DOMAIN=YOUR_AUTH0_DOMAIN
AUTH0_AUDIENCE=YOUR_AUTH0_AUDIENCE
AUTH0_CLIENT_ID=YOUR_AUTH0_CLIENT_ID
AUTH0_CLIENT_SECRET=YOUR_AUTH0_CLIENT_SECRET
AUTH0_SECRET_KEY=YOUR_AUTH0_SECRET_KEY

#####################################################################################
# JWT Configuration
#####################################################################################

JWT_SECRET_KEY=YOUR_JWT_SECRET_KEY
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=10080

#####################################################################################
# AI Model Configuration
#####################################################################################

#AZURE
AZURE_OPENAI_ENDPOINT=YOUR_AZURE_OPENAI_API_ENDPOINT
AZURE_OPENAI_API_KEY=YOUR_AZURE_OPENAI_API_KEY
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_API_VERSION=YOUR_AZURE_OPENAI_API_VERSION

# OpenAI
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
OPENAI_MODEL_NAME=gpt-4o


#####################################################################################
# Google APIs
#####################################################################################

# Add your Gemini API key here
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
GEMINI_MODEL_NAME=gemini-2.0-flash-001

#####################################################################################
# SMTP Configuration
#####################################################################################

SMTP_HOST=YOUR_SMTP_HOST
SMTP_PORT=465
SMTP_USER=YOUR_SMTP_USER
SMTP_PASSWORD=YOUR_SMTP_PASSWORD
FROM_EMAIL=YOUR_FROM_EMAIL

#####################################################################################
# Redis Configuration
#####################################################################################

REDIS_PORT=6379
REDIS_URL=redis://:YOUR_REDIS_PASSWORD@redis:6379/0
BROKER_URL=redis://:YOUR_REDIS_PASSWORD@redis:6379/0
CELERY_RESULT_BACKEND=redis://YOUR_REDIS_PASSWORD@redis:6379/1

# Service Ports
BACKEND_PORT=8080
FRONTEND_PORT=3000

# Environment
ENVIRONMENT=local
FRONTEND_ENV=local
BACKEND_ENV=local
WORKER_ENV=local
LOG_LEVEL=DEBUG


#####################################################################################
# App & Logging Configuration
#####################################################################################

LOG_LEVEL=DEBUG
RHESIS_BASE_PATH=/home/harry/Dev/rhesis-sandbox/
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://backend:8080

#####################################################################################
# Worker API
#####################################################################################

WORKER_API_URL=YOUR_WORKER_API_URL

#####################################################################################
# Rhesis Configuration
#####################################################################################

RHESIS_BASE_URL=http://localhost:8080
RHESIS_API_KEY=YOUR_RHESIS_API_KEY

#####################################################################################
# Frontend Configuration
#####################################################################################

NEXT_PUBLIC_API_BASE_URL=http://localhost:8080

# Generate a secret with `npx auth secret`
# and replace the value below with it
NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET

# Add secrets for your auth providers to the .env.local file
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET

# Auth0 config
NEXT_PUBLIC_AUTH0_CLIENT_ID=YOUR_AUTH0_CLIENT_ID
NEXT_PUBLIC_AUTH0_DOMAIN=YOUR_AUTH0_DOMAIN

# App URLs
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

#####################################################################################
# Local Development Database
#####################################################################################

# For local development (outside Docker)
DATABASE_URL=postgresql://rhesis-user:rhesis-password@localhost:5432/rhesis-db
