{% extends '_base.html.jinja2' %}
{% import '_components.html.jinja2' as c %}

{% block title %}Reset your password - Rhesis AI{% endblock %}
{% block preheader %}Choose a new password for your Rhesis AI account. This link expires in 1 hour.{% endblock %}

{% block content %}
{{ c.row_header('Reset your', accent='password', lede='We received a request to reset your password.') }}

{% call c.row_prose() %}
    {{ c.p("Hi" ~ (' ' ~ recipient_name if recipient_name else '') ~ ",") }}
    {{ c.p('Click the button below to choose a new password for your Rhesis AI account.') }}
    {{ c.p('This link will expire in 1 hour.', size=brand.type.small, color=brand.color.muted, bottom=0) }}
{% endcall %}

{{ c.row_button(reset_url, 'Reset password') }}
{{ c.row_fallback_link(reset_url) }}
{{ c.row_note("If you didn't request a password reset, you can safely ignore this email. Your password will not be changed.") }}
{% endblock %}
