fastapi
uvicorn
sqlalchemy
psycopg2
psycopg2-binary
pydantic
alembic
faker
python-dotenv
prefect
pyyaml
openpyxl
nanoid
huggingface_hub
python-jose[cryptography]
python-multipart
authlib
httpx
itsdangerous
chardet
openai==1.61.0
jsonpath-ng==1.7.0
streamlit==1.45.0
google-genai==1.13.0