apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prd-base
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/rhesis-ai/rhesis.git
    targetRevision: main
    path: kubernetes/clusters/prd
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
