{
  "mcpServers": {
    "atlassianApi": {
      "url": {{ ("https://api.atlassian.com/ex/jira/" + CLOUD_ID) | tojson }},
      "headers": {
        "Authorization": {{ ("Bearer " + ACCESS_TOKEN) | tojson }}
      }
    }
  }
}
